<div ng-show="checkLogin()">
<div class="container">
    <ul class="nav nav-tabs">
        <li ng-class="{active: eventTab()}"><a data-toggle="tab" href="/content#event">이벤트</a></li>
        <li ng-class="{active: eventTypeCodeTab()}"><a data-toggle="tab" href="/content#eventTypeCode">이벤트 항목</a></li>
        <li ng-class="{active: giftTab()}"><a data-toggle="tab" href="/content#gift">경품</a></li>
    </ul>
    <div class="tab-content">
        <br>
        <div id="event" class="tab-pane fade">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        DP :
                        <select  ng-model="searchEventVisible" ng-change="eventVisibleChangedValue()" >
                            <option value="">== Select ==</option>
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        Premium :
                        <select  ng-model="searchEventPremium" ng-change="eventPremiumChangedValue()" >
                            <option value="">== Select ==</option>
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button id="addEventButton" type="button" class="btn btn-info btn-primary" data-toggle="modal" data-target="#addEventModal">이벤트 추가</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal fade" id="addEventModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">이벤트 추가/수정</h4>
                        </div>
                        <div class="modal-body" style="height: 950px">
                            <form name="eventForm" ng-submit="addEventInfo()">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>주관업체</b>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" ng-model="eventInfo.company" maxlength="200" style="width:500px;" required placeholder="Company" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>제목</b>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" ng-model="eventInfo.title" maxlength="200" style="width:500px;" required placeholder="Title" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>이미지</b><br>(추가에만 적용)
                                        </div>
                                        <div class="col-md-10">
                                            <input type="file" id="eventFile" name="eventFile" accept="image/*">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>설명</b>
                                        </div>
                                        <div class="col-md-10">
                                            <textarea ng-model="eventInfo.description" style="width:500px;height:50px;" rows="3" placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>응모대상</b>
                                        </div>
                                        <div class="col-md-10">
                                            <textarea type="text" ng-model="eventInfo.eventTarget" maxlength="250" style="width:500px;height:50px;" rows="3" placeholder="Event Target"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>응모 페이지</b>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" ng-model="eventInfo.eventPage" maxlength="200" style="width:500px;" placeholder="Event Page" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>확인 페이지</b>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" ng-model="eventInfo.prizePage" maxlength="200" style="width:500px;" placeholder="Prize Page" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>응모 기간</b>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="eventInfo.startDate"
                                                       is-open="popupStart.opened" datepicker-options="dateOptions" close-text="Close" />
                                 <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="openStart()">
                                         <i class="glyphicon glyphicon-calendar"></i>
                                     </button>
                                 </span>
                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="eventInfo.endDate"
                                                       is-open="popupEnd.opened" datepicker-options="dateOptions" close-text="Close" />
                                 <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="openEnd()">
                                         <i class="glyphicon glyphicon-calendar"></i>
                                     </button>
                                 </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>발표 일정</b>
                                        </div>
                                        <div class="col-md-10">
                                            <p class="input-group" style="width: 350px">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="eventInfo.publicationDate"
                                                       is-open="popupPublication.opened" datepicker-options="dateOptions" close-text="Close" />
                                 <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="openPublication()">
                                         <i class="glyphicon glyphicon-calendar"></i>
                                     </button>
                                 </span>
                                            </p>
                                            <input type="text" ng-model="eventInfo.publicationContent1" style="width:500px;" placeholder="Publication Content1" /><br>
                                            <input type="text" ng-model="eventInfo.publicationContent2" style="width:500px;" placeholder="Publication Content2" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>체크 항목</b>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="eventInfo.premium"> Premium
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="eventInfo.visible"> DP
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>이벤트 타입</b>
                                        </div>
                                        <div class="col-md-10" style="height: 200px;overflow: scroll;">
                                            <div class="row col-md-10">
                                            <span ng-repeat="eventTypePlace in eventTypePlaces" style="float:left;width:90px;">
                                                <label class="checkbox" for="{{eventTypePlace.id}}">&nbsp;
                                                    <input type="checkbox" ng-model="eventTypePlace.checked" name="group" id="{{eventTypePlace.id}}" />
                                                    <span style="border:3px solid {{eventTypePlace.color}};">{{eventTypePlace.name}}</span>
                                                </label>
                                            </span>
                                            </div>
                                            <div class="row col-md-10">
                                            <span ng-repeat="eventTypeForm in eventTypeForms" style="float:left;width:90px;">
                                                <label class="checkbox" for="{{eventTypeForm.id}}">&nbsp;
                                                    <input type="checkbox" ng-model="eventTypeForm.checked" name="group" id="{{eventTypeForm.id}}" />
                                                    <span style="border:3px solid {{eventTypeForm.color}};">{{eventTypeForm.name}}</span>
                                                </label>
                                            </span>
                                            </div>
                                            <div class="row col-md-10">
                                            <span ng-repeat="eventTypeMethod in eventTypeMethods" style="float:left;width:90px;">
                                                <label class="checkbox" for="{{eventTypeMethod.id}}">&nbsp;
                                                    <input type="checkbox" ng-model="eventTypeMethod.checked" name="group" id="{{eventTypeMethod.id}}" />
                                                    <span style="border:3px solid {{eventTypeMethod.color}};">{{eventTypeMethod.name}}</span>
                                                </label>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>상품</b>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="gift1.product" maxlength="200" style="width:400px;" placeholder="Product" />
                                                    <input type="number" ng-model="gift1.count" style="width:100px;" min="1" max="9999999" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="gift2.product" maxlength="200" style="width:400px;" placeholder="Product" />
                                                    <input type="number" ng-model="gift2.count" style="width:100px;" min="1" max="9999999" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="gift3.product" maxlength="200" style="width:400px;" placeholder="Product" />
                                                    <input type="number" ng-model="gift3.count" style="width:100px;" min="1" max="9999999" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="gift4.product" maxlength="200" style="width:400px;" placeholder="Product" />
                                                    <input type="number" ng-model="gift4.count" style="width:100px;" min="1" max="9999999" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="gift5.product" maxlength="200" style="width:400px;" placeholder="Product" />
                                                    <input type="number" ng-model="gift5.count" style="width:100px;" min="1" max="9999999" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="gift6.product" maxlength="200" style="width:400px;" placeholder="Product" />
                                                    <input type="number" ng-model="gift6.count" style="width:100px;" min="1" max="9999999" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="gift7.product" maxlength="200" style="width:400px;" placeholder="Product" />
                                                    <input type="number" ng-model="gift7.count" style="width:100px;" min="1" max="9999999" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="gift8.product" maxlength="200" style="width:400px;" placeholder="Product" />
                                                    <input type="number" ng-model="gift8.count" style="width:100px;" min="1" max="9999999" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="gift9.product" maxlength="200" style="width:400px;" placeholder="Product" />
                                                    <input type="number" ng-model="gift9.count" style="width:100px;" min="1" max="9999999" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <input type="text" ng-model="gift10.product" maxlength="200" style="width:400px;" placeholder="Product" />
                                                    <input type="number" ng-model="gift10.count" style="width:100px;" min="1" max="9999999" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-default btn-primary" ng-disabled="!eventForm.$valid">저장</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div id="imageModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">이미지 보기</h4>
                        </div>
                        <div class="modal-body" style="text-align: center;">
                            <img ng-src="{{selectedEventImage}}">
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <table>
                    <tr>
                        <th>이벤트 ID</th>
                        <th>이미지</th>
                        <th>제목</th>
                        <th>시작일</th>
                        <th>종료일</th>
                        <th>DP</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="event in events">
                        <td>{{event.id}}</td>
                        <td><span style="cursor:pointer" data-toggle="modal" data-target="#imageModal" ng-click="setSelectedEventImage(event.attachments[0].thumbnailS)">
                            <img ng-src="{{event.attachments[0].thumbnailS}}" style="width:30px;height: auto"></span></td>
                        <td>{{event.title}}</td>
                        <td style="width:100px">{{event.startDate}}</td>
                        <td style="width:100px">{{event.endDate}}</td>
                        <td>{{event.visible}}</td>
                        <td style="width: 60px">
                            <button ng-click="setEventVisible(event.id, event.visible)">설정</button>
                        </td>
                        <td style="width: 60px">
                            <button ng-click="getEventInfo(event.id)">수정</button>
                        </td>
                        <td style="width: 60px">
                            <button ng-click="removeEvent(event.id)">삭제</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12">
                <uib-pagination total-items="totalEventItems" ng-model="currentEventPage" max-size="maxEventSize" ng-change="eventPageChanged()"
                                class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
            </div>
        </div>

        <div id="eventTypeCode" class="tab-pane fade">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">
                        분류 :
                        <select  ng-model="searchEventTypeCodeSort" ng-change="eventTypeCodeSortChangedValue()" >
                            <option value="">== 선택 ==</option>
                            <option value="place">위치</option>
                            <option value="form">형태</option>
                            <option value="method">방식</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button id="addEventTypeCodeButton" type="button" class="btn btn-info btn-primary" data-toggle="modal" data-target="#addEventTypeCodeModal">이벤트 타입 항목 추가</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal fade" id="addEventTypeCodeModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">이벤트 타입 항목 추가</h4>
                        </div>
                        <div class="modal-body" style="height: 200px">
                            <form name="eventTypeCodeForm" ng-submit="addEventTypeCodeInfo()">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>이름</b>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" ng-model="eventTypeCodeInfo.name" maxlength="45" style="width:120px;" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>컬러</b>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" ng-model="eventTypeCodeInfo.color" maxlength="10" class="form-control eventTypeCodeColor" style="width:120px;" data-control="hue" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>분류</b>
                                        </div>
                                        <div class="col-md-10">
                                            <select ng-model="eventTypeCodeInfo.sort" required>
                                                <option value="">== 선택 ==</option>
                                                <option value="place">위치</option>
                                                <option value="form">형태</option>
                                                <option value="method">방식</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-default btn-primary" ng-disabled="!eventTypeCodeForm.$valid">저장</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <table>
                    <tr>
                        <th>이름</th>
                        <th>컬러</th>
                        <th>분류</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="eventTypeCode in eventTypeCodes">
                        <td><input type="text" ng-model="eventTypeCode.name" maxlength="50" style="width:200px;"></td>
                        <td><input id="eventTypeCode_{{eventTypeCode.id}}" type="text" ng-model="eventTypeCode.color" class="form-control" data-control="hue" ng-bind="eventTypeCodeColorBinding(eventTypeCode.id)"></td>
                        <td>
                            <select ng-model="eventTypeCode.sort">
                                <option value="place">위치</option>
                                <option value="form">형태</option>
                                <option value="method">방식</option>
                            </select>
                        </td>
                        <td style="width: 60px">
                            <button ng-click="editEventTypeCodeInfo(eventTypeCode.id, eventTypeCode.name, eventTypeCode.color, eventTypeCode.sort)">수정</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12">
                <uib-pagination total-items="totalEventTypeCodeItems" ng-model="currentEventTypeCodePage" max-size="maxEventTypeCodeSize" ng-change="eventTypeCodePageChanged()"
                                class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
            </div>
        </div>

        <div id="gift" class="tab-pane fade">
            <form ng-submit="searchGifts()">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-3">
                                    <b>이벤트 ID</b>
                                </div>
                                <div class="col-md-6">
                                    <input ng-model="searchGiftEventId" style="width:300px;" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <b>상품</b>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" ng-model="searchGiftProduct" maxlength="200" style="width:300px;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-default btn-primary">검색</button>
                        </div>
                    </div>
                    <br>
                </div>
            </form>
            <div class="col-md-12">
                <table>
                    <tr>
                        <th>이벤트 ID</th>
                        <th>이벤트 제목</th>
                        <th>상품</th>
                        <th>수량</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="gift in gifts">
                        <td>{{gift.eventId}}</td>
                        <td>{{gift.eventTitle}}</td>
                        <td><input ng-model="gift.product" ng-value="gift.product" maxlength="200" style="width:300px;"></td>
                        <td><input type="number" ng-model="gift.count" ng-value="gift.count" min="1" max="9999999"></td>
                        <td style="width: 60px">
                            <button ng-click="editGiftInfo(gift.id, gift.product, gift.count)">수정</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12">
                <uib-pagination total-items="totalGiftItems" ng-model="currentGiftPage" max-size="maxGiftSize" ng-change="giftPageChanged()"
                                class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
            </div>
        </div>

    </div>
</div>
</div>
<div style="text-align: center" ng-hide="checkLogin()">
    <h3>로그인을 해주세요! <br><br><a href="/">Home으로 가기</a></h3>
</div>
<br>
<script>
    $(function(){
        $('.eventTypeCodeColor').each( function() {
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                format: $(this).attr('data-format') || 'hex',
                keywords: $(this).attr('data-keywords') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom left',
                swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                change: function(value, opacity) {
                    if( !value ) return;
                    if( opacity ) value += ', ' + opacity;
                    if( typeof console === 'object' ) {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });
        });
    });
</script>